<a href="https://colab.research.google.com/github/ishitabakshi/DS1002/blob/main/Bakshi_07_More_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

# loading the data
data = pd.read_csv('/content/ride_sharing.csv')

In [14]:
# counts how many rows are in the data set
rows = str(len(data))
# counts how many columns are in the data set
columns = str(len(data.columns))

print('The number of rows are ' + rows + '.')
print('Thhe numbers columns are ' + columns + '.')

The number of rows are 25760.
Thhe numbers columns are 10.

In [15]:
#data.dtypes # checking the data type of the columns
#data.head(10) # visualizing the type of data in the duration column
data['duration'] = data['duration'].astype(str).str.extract('(\d+)') # converts the objects into strings and extracts the integer part of the string
data['duration'] = data['duration'].astype(int) # converts the extracted strings into integers
data.dtypes # displays the data types in the updated data frame

duration            int64
station_A_id        int64
station_A_name     object
station_B_id        int64
station_B_name     object
bike_id             int64
user_type           int64
user_birth_year     int64
user_gender        object
tire_size           int64
dtype: object

In [16]:
min_value = data['duration'].min() # finding the minimum value and defining it as min_value
max_value = data['duration'].max() # finding the maximum value and defining it as max_value
print('Minimum value:', min_value)
print('Maximum value:', max_value)

Minimum value: 1
Maximum value: 1372

In [17]:
data_copy = data.copy() # making a copy of the origional data to modify
rides = data_copy.query('duration <= 60') # filtering the data so only rows with durations less than of equal to 60 are included
rides.head(10) # checking the new data frame

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
1,24,3,Powell St BART Station (Market St at 4th St),118,Eureka Valley Recreation Center,5193,2,1965,Male,27
2,8,67,San Francisco Caltrain Station 2 (Townsend St...,23,The Embarcadero at Steuart St,3652,3,1993,Male,29
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
4,11,22,Howard St at Beale St,350,8th St at Brannan St,4626,2,1994,Male,27
5,10,22,Howard St at Beale St,6,The Embarcadero at Sansome St,3279,2,1979,Male,29
6,16,67,San Francisco Caltrain Station 2 (Townsend St...,107,17th St at Dolores St,1035,2,1981,Male,26
7,9,30,San Francisco Caltrain (Townsend St at 4th St),97,14th St at Mission St,5286,2,1991,Male,27
8,21,81,Berry St at 4th St,16,Steuart St at Market St,2124,1,1982,Female,29
9,5,30,San Francisco Caltrain (Townsend St at 4th St),62,Victoria Manalo Draves Park,333,1,1994,Male,26

In [18]:
min_value = rides['duration'].min() # finding the minimum value of the new dataset and defining it as min_value
max_value = rides['duration'].max() # finding the maximum value of the new dataset and defining it as max_value
print('Minimum value:', min_value)
print('Maximum value:', max_value)

Minimum value: 1
Maximum value: 60

In [67]:
tire_size_26 = rides.query('tire_size == 26') # collects only the rows were the column tire_size is 26
tire_size_26.head(5) # checking the new data frame

,duration,station_A_id,station_A_name,station_B_id,station_B_name,bike_id,user_type,user_birth_year,user_gender,tire_size
0,12,81,Berry St at 4th St,323,Broadway at Kearny,5480,2,1959,Male,26
3,4,16,Steuart St at Market St,28,The Embarcadero at Bryant St,1883,1,1979,Male,26
6,16,67,San Francisco Caltrain Station 2 (Townsend St...,107,17th St at Dolores St,1035,2,1981,Male,26
9,5,30,San Francisco Caltrain (Townsend St at 4th St),62,Victoria Manalo Draves Park,333,1,1994,Male,26
12,7,3,Powell St BART Station (Market St at 4th St),27,Beale St at Harrison St,1863,3,1998,Male,26

In [65]:
female_riders = tire_size_26.query("user_gender == 'Female'") # collects only the rows with female riders
#female_riders.head(10) # checking the new data frame
num_rows = len(female_riders) # counts the rows with famle riders
print('Number of female riders using the 26-inch wheeled rental bikes for one hour or less is ' + str(num_rows) + '.')

Number of female riders using the 26-inch wheeled rental bikes for one hour or less is 2962.

In [68]:
messy_data = pd.read_csv('/content/more-messy-data.csv') # uploading the data
messy_data.head(5) # visualizing the data frame

   id  sepal_length  sepal_width  petal_length petal_width    species
0   1           3.5          2.9           1.4         0.5  virginica
1   2           3.6          3.2           3.0         0.5     setosa
2   3           3.8          NaN           2.2         1.5     setosa
3   4           5.8          2.7           2.6         1.2  virginica
4   5           4.9          3.6           3.0         1.2  virginica

In [71]:
print('The number of duplicates rows are ' + (str(messy_data.duplicated().sum())) + '.') # shows the number of duplicate rows in the data frame

The number of duplicates rows are 287.

In [74]:
data_copy1 = messy_data.copy() # makes a copy of the messy data
cleaned_data = data_copy1.drop_duplicates() # drops all of the duplicated in the
print(cleaned_data)
print('Now the number of duplicated rows are ' + str((cleaned_data.duplicated().sum())) + '.') # couting the duplicates as a method to douple check duplicates

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1           3.5          2.9           1.4         0.5   virginica
1       2           3.6          3.2           3.0         0.5      setosa
2       3           3.8          NaN           2.2         1.5      setosa
3       4           5.8          2.7           2.6         1.2   virginica
4       5           4.9          3.6           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1311  412           NaN          3.6           2.9         0.5  Versicolor
1312  413           5.8          2.7           2.0         0.1  Versicolor
1313  414           3.3          3.7           1.3         2.8  Versicolor
1314  415           3.1          NaN           1.1         NaN  Versicolor
1315  416           4.3          2.5           1.3           1  Versicolor

[1029 rows x 6 columns]
Now the number of duplicated rows are 0.

In [32]:
columns_to_fill = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width'] # specifies the four columns involving sepal and petal length and width
filled_data = cleaned_data.fillna(cleaned_data[columns_to_fill].mean(numeric_only=True)) # updates all NaN values with the selected columns means, considering only numeric values
print(filled_data) # printed new data frame to double check fot NaN values

       id  sepal_length  sepal_width  petal_length petal_width     species
0       1      3.500000      2.90000           1.4         0.5   virginica
1       2      3.600000      3.20000           3.0         0.5      setosa
2       3      3.800000      2.98876           2.2         1.5      setosa
3       4      5.800000      2.70000           2.6         1.2   virginica
4       5      4.900000      3.60000           3.0         1.2   virginica
...   ...           ...          ...           ...         ...         ...
1311  412      4.522004      3.60000           2.9         0.5  Versicolor
1312  413      5.800000      2.70000           2.0         0.1  Versicolor
1313  414      3.300000      3.70000           1.3         2.8  Versicolor
1314  415      3.100000      2.98876           1.1         NaN  Versicolor
1315  416      4.300000      2.50000           1.3           1  Versicolor

[1029 rows x 6 columns]

In [35]:
without_missing_data = filled_data.dropna() # drops any missing data from the cleaned and filled data frame

In [45]:
species_count = without_missing_data['species'].nunique() # counts how many unique values there are under the species column
print('The number of species are ' + str(species_count) + '.')
unique_species = without_missing_data['species'].value_counts() # displays all the different species to help identify variations
print(unique_species)

The number of species are 9.
setosa        443
virginica     411
Versicolor     25
setoso          2
Virginia        2
Viginica        1
Setosa          1
Setosan         1
versicolor      1
Name: species, dtype: int64

In [75]:
without_missing_data_copy = without_missing_data.copy() # makes a copy of the data set to modify incase origional needs to be acessable
without_missing_data_copy['species'] = without_missing_data_copy['species'].str.lower() # lowercases all of the values under the species column
typo_mapping = { # changes the common typos within the species column into the correct species value
    'setoso': 'setosa',
    'virginia': 'virginica',
    'viginica': 'virginica',
    'setosan' : 'setosa'
}
without_missing_data_copy['species'] = without_missing_data_copy['species'].replace(typo_mapping)
species_count = without_missing_data_copy['species'].nunique() # counts how many unique values there are under the species column in the new, cleaned copy
print('The number of species are now ' + str(species_count) + '.')

unique_species = without_missing_data_copy['species'].value_counts() # displays the different species in the cleaned data
print(unique_species)

The number of species are now 3.
setosa        447
virginica     414
versicolor     26
Name: species, dtype: int64

Bonus Question

In [66]:
import re
# [A-Z]{3} means 3 uppercase letters in the alphabet in a row
# [\d]{4} means 4 numners 0-9 in a row
expression = '[A-Z]{3}[\d]{4}'

# list of strings to test
tester_strings = ['ABC1234', 'a1b23c4', 'ABCD1234', 'aBc123']

# function to test whether the string matched the expressiosn general format
def match(plate):
  if re.match(expression, plate):
    print("match!")
  else:
    print("no match!")
for string in tester_strings:
  match(string)

match!
no match!
no match!
no match!